/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#image-container img {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    margin-top: 20px;
}

#options {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #ff4f6d;
}
